/*----reset-----*/
*{
    margin:0;
    padding:0;
    list-style-type: none;
    text-decoration:none;
}
/*----navbar-----*/
header{
    width: 100%;
    height: 70px;
    background-color: black;
}
/*----footer-----*/
footer{
    width: 100%;
    height: 70px;
    background-color: black;
    color: white;
}
nav>ul{
    color: white;
}
