@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

/*--------------------reset---------------------------------------------------*/
*{
    margin:0;
    padding:0;
    list-style-type: none;
    text-decoration:none;
    font-family: 'poppins';
    font-weight: bold;
}

/*------------------Variables pour les pallettes de couleurs------------------*/
:root {
    /*---------Couleur du body-------------*/
    --body_01-bg-color: rgb(255, 248, 248);
    --body_02-bg-color: rgb(255, 209, 209);
    --body_03-bg-color: rgb(236, 240, 255);
    --body_04-bg-color: rgb(218, 255, 211);
    /*---------Couleur de la navbar--------*/
    --nav_01-bg-color: rgb(60, 60, 60);
    --nav_02-bg-color: rgb(255, 209, 209);
    --nav_03-bg-color: rgb(148, 169, 248);
    --nav_04-bg-color: rgb(218, 255, 211);
    /*---------Couleur du footer-----------*/
    --footer_01-bg-color: rgb(0, 0, 0);
    --footer_02-bg-color: rgb(255, 209, 209);
    --footer_03-bg-color: rgb(236, 240, 255);
    --footer_04-bg-color: rgb(218, 255, 211);
    /*---------Couleur de la police--------*/
    --font_01-bg-color: rgb(0, 0, 0);
    --font_02-bg-color: rgb(255, 255, 255);
    --font_03-bg-color: rgb(28, 44, 100);
    --font_04-bg-color: rgb(29, 48, 25);
}



/*--------------------Formulaire--------------------------------------------------*/

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


body{
    background-color: var(--body_01-bg-color);
}
/*----navbar-----*/
header{
    width: 100%;
    height: 70px;
    background-color: var(--nav_01-bg-color);
    position: fixed;
    top: 0;
}
/*----footer-----*/
footer{
    transition: 1s;
    text-shadow: 1px 1px white;
    position: fixed;
    width: 100%;
    height: 35px;
    background-color: var(--nav_01-bg-color);
    color: rgb(73, 47, 116);
    text-align: center;
    padding-top: 15px;
    bottom: 0;
}
footer:hover{
    color: var(--nav_01-bg-color);;
}
nav>ul{
    display:flex;
    color: white;
    float: right;
    margin-right: 25px;
    margin-top:-12px;
    margin-top:23px;
}
li{
    margin-right:15px;
}
/*Effet de surlignement*/
::after{
    display:block;
    content:"";
    width:0;
    height:1px;
    color: white;
    transition: .4s; 
}
li:hover::after{
    width: 100%;    
    background-color: var(--body_01-bg-color);
}
li:hover{
    cursor: pointer;
    color: var(--body_01-bg-color);
    text-shadow: 1px 1px 4px lightgrey;
    font-weight: 1500;
}
section{
    width: 70%;
    margin:auto;
    bottom: 90px;
    
    transition: .4s;
    transform: scale(1);
    text-align: center;
    margin: auto;
    margin-top: 80px;
    border-style: solid;
    border-width: 1px;
    width:25%;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 0px;
    background-color: rgb(82, 82, 82, 0.2);
    padding:25px;
}

/*section:hover{
    transition: 1s;
    transform: translate(250px, 200px);
    animation-duration: 10s;
    position: absolute;
}*/
input{
    border-radius: 5px;
}
button{
    padding:10px;
}

/*-----Bouton formulaire------*/
#bt1, #bt2{
    cursor: pointer;
    padding:4px;
    margin-top: 10px;
    background-color: var(--nav_01-bg-color);
    color: var(--body_01-bg-color);
}
#bt1:hover,
#bt2:hover{
    background-color: var(--body_01-bg-color) ;
    color: var(--nav_01-bg-color);
}
/*
#img_right{
    position: absolute;
    top: 200px;
    margin-left: 70%;
    display: flex;
}
*/
#logo{
    display: absolute;
}


