@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

/*===========================// COLOR //========================*/

:root {
    --black: rgb(50, 50, 50);
    --yellow: #FFD769;
    --light: rgb(255, 254, 251);
    --medium: rgb(231, 229, 214);

    /*---------Couleur du body-------------*/
    --body_01-bg-color: rgb(255, 253, 248);
    --body_02-bg-color: rgb(255, 209, 209);
    --body_03-bg-color: rgb(236, 240, 255);
    --body_04-bg-color: rgb(218, 255, 211);
    /*---------Couleur de la navbar--------*/
    --nav_01-bg-color: rgb(60, 60, 60);
    --nav_02-bg-color: rgb(255, 209, 209);
    --nav_03-bg-color: rgb(148, 169, 248);
    --nav_04-bg-color: rgb(218, 255, 211);
    /*---------Couleur du footer-----------*/
    --footer_01-bg-color: rgb(0, 0, 0);
    --footer_02-bg-color: rgb(255, 209, 209);
    --footer_03-bg-color: rgb(180, 190, 224);
    --footer_04-bg-color: rgb(218, 255, 211);
    /*---------Couleur de la police--------*/
    --font_01-bg-color: rgb(0, 0, 0);
    --font_02-bg-color: rgb(255, 255, 255);
    --font_03-bg-color: rgb(28, 44, 100);
    --font_04-bg-color: rgb(29, 48, 25);
}

/*===========================// MAIN //========================*/

*{
    margin:0;
    padding:0;
    list-style-type: none;
    text-decoration:none;
    font-family: 'poppins';
    font-weight: bold;
    overflow-y: hidden;
}
.bar {
    position: absolute;
    animation: slideInFade 1.5s ease-in-out 0s 1 forwards;
    opacity: 0;
    transition: opacity 1s, fill 1s;
    stroke-width: 30px;
    stroke: white;
    fill: var(--yellow);
    fill-opacity: 0.8;
    cursor: pointer;

}

a:link    { color: white; }
a:visited { color: white; }

body{
    background-color: var(--light);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0px 50px 0px;
    opacity: 0;
    animation: fadeIn 1s 2.5s forwards;
}

#connexion_section {
    width: 15%;
    height: 235px;
    padding:10px 15px 25px 15px ;
    margin-top: 90px;
}
#register_section {
    width: 20%;
    margin-top: 400px;
    padding:0px 15px 0px 15px ;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    background-color: var(--medium);
}

svg {
    position: absolute;
}

.modal {
    position: absolute;
    z-index: 200;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
    overflow: hidden;
    border: 1px solid rgb(175, 175, 175);

}
.cross {
    position: absolute;
    top: -5px;
    left: 245px;
    stroke-width: 5px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}
#cross2 {
    left: 330px;
}

/*===========================// FORM //========================*/

#register_form, #connexion_form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px 25px 25px 25px ;
}
#register_form {
    justify-content: space-evenly;
}
h3, #footerLink {
    font-size: 1.5rem;
}

input, select{
    padding: 5px;
    border: rgb(170, 170, 170) solid 1px;
    outline:none;
}
select {
    margin-bottom: 5px;
}
label {
    margin-top: 5px;
}

button{
    padding:10px;
}

/*===========================// NAV //========================*/

header{
    width: 100%;
    height: 80px;
    background-color: var(--black);
    position: fixed;
    top: 0;
    z-index: 2;
    opacity: 0;
    animation: fadeIn 1.2s 1.5s forwards;
}
nav>ul{
    display:flex;
    color: white;
    float: right;
    margin-right: 25px;
    margin-top:23px;
    font-size: 1.3rem;
}
li{
    margin-right:15px;
}

/*Effet de surlignement*/
::after{
    display:block;
    content:"";
    width:0;
    height:1px;
    color: white;
    transition: .4s; 
}
li:hover::after{
    width: 100%;    
    background-color: var(--light);
}
li:hover{
    cursor: pointer;
    color: var(--light);
    text-shadow: 1px 1px 6px rgb(255, 255, 255);
    font-weight: 1500;
}
img {
    position: absolute;
    top: 5px;
    right: 695px;
    text-align: center;
}

/*===========================// FOOTER //========================*/

footer{
    transition: 1s;
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 35px;
    background-color: var(--black);
    
    padding: 10px 0px 12px 0px;
    bottom: 0;
    text-align: center;

    opacity: 0;
    animation: fadeIn 1.2s 1.5s forwards;
}
footer:hover{
    color: var(--medium);;
}
#footerLink {
    color: var(--yellow);
    top: 15px;
}

/*===========================// BUTTONS //========================*/

main > div {
    display: flex;
    flex-direction: column;
    bottom: 500px;
    z-index: 100;
}
#loginButton, #registerButton {
    font-size: 1.5rem;
    margin: 10px;
    padding:15px 25px 15px 25px;

}

.buttons{
    border-radius: 999999999px;
    transition: background-color 0.4s, color 0.2s;
    border: none;
    cursor: pointer;
    padding:6px 16px 6px 16px ;
    background-color: var(--black) ;
    color: white;
}

.buttons:hover,
.buttons:focus
{
    background-color: var(--yellow);
    color: var(--black);
}

#logo{
    display: absolute;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slideInFade {
    from {
        opacity:0;
        transform: translateY(750px);
    }
    to {
        opacity:1;
        transform: translateY(0px);
    }
}

